# Datasets
data/traffic_signs/
data/us_road_signs/
data/processed/

# Outputs
outputs/predictions/
outputs/metrics/

# Kaggle
.kaggle/
kaggle.json

# Python
__pycache__/
*.py[cod]
.eggs/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store

# Logs
*.log
nohup.out